* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all_atworkmap {
    max-width: 35rem;
    margin: auto;
    padding-bottom: 3rem;
    }
.atworkmap {
    width: 100%;
    padding: 0 5%;
    border-radius: 14%;
}
.container {
    background-color: #779474;

}
.all_map {
    max-width: 35rem;
    margin: auto;

    .greenmap {
        box-shadow: 0rem 0.1rem black;
        display: flex;
        width: 80%;
        justify-content: space-between;
        list-style: none;
        background-color: #efefef;
        border-radius: 1rem;
        border: 1px solid black;
        margin: auto;
        position: relative;
        padding: 0.5rem 1rem;
        .hamburger {
            border: none;
        }
    }
    img {
        width: 2rem;
        cursor: pointer;
    }
}
